# compiled output
/dist
/node_modules
/build

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# tests
/coverage
/.nyc_output

# IDEs
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# env
.env
.env.local
.env.*.local

# prisma
/generated

# misc
*.tsbuildinfo
